<%- model_class = Timestamp -%>
<div class="page-header">
  <h1>
    All My <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <% if current_user.role?(User::ROLES[:admin]) %>
      <% if params[:everyone].present? && params[:everyone].to_bool == true %>
        <%= link_to "View Your Timestamps", params.merge(everyone: nil), :class => 'btn btn-info' %>
      <% else %>
        <%= link_to "View Everyone's Timestamps", params.merge(everyone: true), :class => 'btn btn-info' %>
      <% end %>
    <% end %>
  </h1>
</div>

<%= render :partial => 'timestamps/table' %>
