<% title 'Add Timestamp' %>

<%= render :partial => 'timestamps/form' %>

<% if @timestamps.present? %>
  <div id="daily-chart" style="height: 200px; margin: 0 auto"></div>

  <h2>
    Today's Timestamps
    <%= link_to 'View All My Timestamps', timestamps_path, :class => 'btn btn-info' %>
  </h2>

  <%= render :partial => 'timestamps/table' %>

<% end %>
