// Place all the styles related to the Timestamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	margin: 2em 0em 2em 0em;
  &.timestamp{
    fieldset.form-actions{
      display: inline-block;
    }
    div#timestamp_notes_input label{
      display: block;
    }
    input[type="number"] {
       width:144px;
    }
  }
}

input.inline {
	margin: 1.4em 0em 0em 0em;
}

// highlight dates that have data
.datepicker-highlight a{
  background: #a8d2b8 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  border-color: #a8d2b8;
  background: #c8f2d8 !important;
  font-weight: bold;
}
